<h1> Going back to the 90's with Tamagotchi </h1>

<h1></h1>

<h2> Tell me the name of your Tamagotchi </h2>
<form action= "/pet_information" method = "post">
  <input id= "pet_name" name= "pet_name" type ="text">
  <button type= "submit" class="btn-success"> Submit the name </button>
</form>
